body {
  background-color: white;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-feature-settings: 'liga' 0;
  font-size: 18.4px;
  line-height: 1.6;
  margin: 0;
}

a.nav {
  cursor: pointer;
  text-decoration: none;
}

li a.nav {
  font-weight: bold;
}

section.head a.nav {
  color: white;
}

section.main a.nav {
  color: black;
}

a:not(.nav) {
  color: #1228e2;
  position: relative;
  padding-bottom: 0.15em;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:not(.nav):hover {
  color: #fe6993;
}

a:not(.nav):after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  border-bottom: 1px solid #fe6993;
  transition: opacity 0.4s ease-in-out;
}

a:not(.nav):hover:after {
  opacity: 1;
}

#container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#container > section.head {
  background-image: url('../images/background.png');
  color: white;
  position: relative;
}

@media (min-width: 54em) {
  #container.sidebar > section.head {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
  }
}

#container > section.head * {
  z-index: 1;
}

#container > section.head::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 54em) {
  #container.sidebar > section.main {
    margin-left: 40%;
  }
}

#container > section > nav > ul {
  align-content: center;
  display: flex;
  font-family: 'Space Mono', monospace;
  justify-content: space-around;
  padding: 1em;
}

#container > section > nav > ul li {
  display: block;
  letter-spacing: 0.1em;
  padding-bottom: 0.2em;
  position: relative;
  text-transform: uppercase;
}

#container > section > nav > ul li:after {
  border-bottom: 3px solid #fe6993;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#container > section > nav > ul li:not(.active)::after {
  width: 0%;
  transition: width 0.4s ease-in-out;
}

#container > section > nav > ul li:not(.active):hover:after {
  width: 100%;
}

#container > section.head {
  display: flex;
  flex-direction: column;
}

@media (min-width: 54em) {
  #container > section.main > nav > ul {
    padding-left: 8em;
    padding-right: 8em;
  }
}

#container > section.head section.contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container > section.head section.contents h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1.1;
}

#container.full section.head nav ul {
  justify-content: flex-start;
}

#container.full,
#container.full article h1,
#container.full article h2,
#container.full article h3,
#container.full article h4,
#container.full article h5,
#container.full article h6 {
  font-family: 'Open Sans', sans-serif;
}
#container.full article {
  margin: 1em 0;
  padding: 0;
}
@media (min-width: 54em) {
  #container.full article {
    margin: 4em 0;
  }
}

#container.full header {
  padding: 1em;
}

#container.full header h1 {
  font-size: 2em;
  line-height: 1.1;
}

#container.full header h2 {
  letter-spacing: 0.1em;
  font-weight: normal;
  line-height: 1.1;
  font-size: 1.25em;
  font-family: 'Inconsolata', monospace;
}

@media (min-width: 54em) {
  #container.full header {
    padding: 4em 8em;
  }

  #container.full header h1 {
    font-size: 3em;
  }
}

@media (min-width: 54em) {
  #container.full article > * {
    padding-left: 8em;
    padding-right: 8em;
  }
}

footer {
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: circle;
}

ul.post-list {
  list-style: none;
}

article {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

article > * {
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 54em) {
  article > * {
    padding-left: 4em;
    padding-right: 4em;
  }
}

article h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
}

article h2,
article h3 {
  margin-top: 2em;
}

article header h2 {
  font-family: "Space Mono",monospace;
  font-size: 1em;
  margin: 0;
}

span.label:before,
span.label:after {
  content: '\00a0';
}

span.label {
  background-color: rgba(254, 105, 147, 0.1);
  border-radius: 3px;
  color: #fe6993;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 0;
  line-height: 1em;
  margin: 0;
  font-size: 85%;
}

section.part:nth-of-type(2n+1),
div.week:nth-of-type(2n+1) {
  background-color: #f8f9f9;
}

section.part:nth-of-type(2n),
div.week:nth-of-type(2n) {
  background-color: white;
}

#container.full #markdown-toc {
  margin: 1.5em;
}

section.part {
  padding-top: 2em;
  padding-bottom: 2em;
}

section.part h2 {
  margin: 0;
}

div.week h1,
div.week h2,
div.week h3 {
  margin: 0;
}

div.week h1,
div.week h2 {
  margin-bottom: 1em;
}

div.week h3 {
  margin-top: 1em;
}

div.week {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 54em) {
  div.week {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.screenshot {
  display: block;
  max-width: 100%;
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid lightgray;
  padding: 2px;
  box-sizing: border-box;
}
@media (min-width: 54em) {
  .screenshot {
    max-width: 30em;
  }
}

blockquote {
  background-color: rgba(27,31,35,0.08);
  border-radius: 5px;
  padding: .5em;
  font-size: .8em;
}

blockquote p,
blockquote h3 {
  margin: 0;
}

hr {
  background-color: rgba(27,31,35,0.08);
  border: 0;
  box-sizing: border-box;
  height: 3px;
  margin: 2em auto;
  width: 75%;
}

#goog-calendar-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
}

#goog-calendar {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 600px;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

#page-screenshot-view {
  background-color: gainsboro;
  height:480px;
  overflow-y:scroll;
  width:750px;
}

#mobile-screenshot-view img,
#page-screenshot-view img {
  padding: 10px;
  width: 100%;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

#mobile-screenshot-view {
  background-color: gainsboro;
  height: 500px;
  overflow-y:scroll;
  width: 281px;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

table tr {
  background-color: #fff;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

pre.highlight {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

section.part:nth-of-type(2n+1) pre.highlight {
  background-color: white;
}
section.part:nth-of-type(2n+1) table tr:nth-child(2n) {
  background-color: white;
}

code.highlighter-rouge {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

code.highlighter-rouge::before, code.highlighter-rouge::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre {
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
