/**
 * Victoria Kirst (vrk@stanford.edu)
 * This is a rough copy of Squarespace's Bedford layout:
 * https://bedford-demo.squarespace.com/
 *
 * http://cs193x.stanford.edu
 */

a {
  cursor: pointer;
}

a.button {
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 100px;
}

a.button:hover {
  background-color: white;
  color: black;
}

body {
  color: rgba(26, 26, 26, .7);
  font-family: 'Lora', serif;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

.button,
#details h1,
footer address,
header h1 strong,
#links {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#details {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #details {
    flex-direction: column;
  }
}

#details div {
  flex-grow: 1;
  padding: 20px;
}

#details img {
  width: 100%;
}

#details h1 {
  color: rgb(61, 153, 145);
  font-weight: normal;
  letter-spacing: 2px;
}

footer {
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, .8);
  padding: 75px;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, .4);
}

header h1 {
  font-size: 1em;
  line-height: 1.5;
}

h1 a.button {
  border: 0;
  background-color: rgb(54, 179, 168);
  display: inline-block;
}

h1 a.button:hover {
  background-color: rgba(54, 179, 168, 0.75);
  /* In this case, I'm using inherit to ignore the other :hover rule I set. */
  color: inherit;
}

header {
  color: white;
  background-image: url('images/header.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  header {
    height: 300px;
    line-height: 1.2;
  }
}

/*
::before is a content selector:
https://developer.mozilla.org/en-US/docs/Web/CSS/::before
This is similar to creating a <div> overlay, like the example from the slides.
See that the header is set to "position: relative;".
*/
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

header h1 a {
  /*font-size: 15px;*/
  font-size: 0.9em;
}

header h1 em {
  /*font-size: 20px;*/
  font-size: 1.25em;
  letter-spacing: 1px;
}

header h1 strong {
  /*font-size: 68px;*/
  font-size: 4.25em;
  letter-spacing: 4px;
}

@media (max-width: 500px) {
  header h1 strong {
    font-size: 2em;
    letter-spacing: 4px;
  }
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  /*font-size: 14px;*/
  font-size: .875em;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: none;
}

#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

@media (max-width: 500px) {
  #links {
    display: none;
  }

  #menu {
    display: block;
  }
}


#links a {
  margin: 15px;
}

#logo {
  /*font-size: 40px;*/
  font-size: 2.5em;
}

#main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 60%;
}

@media (max-width: 500px) {
  #main p {
    width: 90%;
    margin-bottom: 2em;
  }
}

#main h1 {
  /*font-size: 28px;*/
  font-size: 1.75em;
  font-weight: normal;
  color: rgba(26,26,26,.9);
}

p {
  /*line-height: 36px;*/
  line-height: 2.25em;
}

section {
  margin: 100px 125px;
  text-align: center;
}

@media (max-width: 500px) {
  section {
    margin: 40px 10px;
  }
}
