<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
    <div id="container">
      <section class="head">
        <header>
          <ul>
            <li>Syllabus</li>
          </ul>
        </header>
        <section class="contents">
          <h1>CS193X</h1>
        </section>
        <header>
          <ul>
            <li>Staff</li>
            <li>Etc</li>
          </ul>
        </header>
      </section>
      <section class="main">
        <header>
          <ul>
            <li>Weeks</li>
            <li>Homework</li>
          </ul>
        </header>
        <section>
          {{ content }}
        </section>
      </section>

    </div>
  </body>
</html>
