<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
    <div id="container" class="sidebar">
      <section class="head">
        <nav>
          <ul>
            <li {% if page.active == 'syllabus' %} class="active" {% endif %} >
              <a href="{{ relative }}syllabus" class="nav">Syllabus</a>
            </li>
            <li {% if page.active == 'info' %} class="active" {% endif %} >
              <a href="{{ relative }}info" class="nav">Info</a>
            </li>
            <li {% if page.active == 'staff' %} class="active" {% endif %} >
              <a href="{{ relative }}staff" class="nav">Staff</a>
            </li>
          </ul>
        </nav>
        <section class="contents">
          <a href="{{ relative }}" class="nav">
            <h1>CS193X</h1>
            Web Programming Fundamentals
          </a>
        </section>
        <nav>
          <ul>
            <li>
              <a href="http://piazza.com/stanford/spring2017/cs193x" class="nav">Piazza</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="main">
        <nav>
          <ul>
            <li {% if page.active == 'lectures' %} class="active" {% endif %} >
              <a href="{{ relative }}lectures" class="nav">Lectures</a>
            </li>
            <li {% if page.active == 'homework' %} class="active" {% endif %} >
              <a href="{{ relative }}homework" class="nav">Homework</a>
            </li>
          </ul>
        </nav>
        <section>
          {{ content }}
        </section>
       {% include foot.html %}
      </section>
    </div>
  </body>
</html>
