<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
    <div id="container">
      <section class="head">
        <nav>
          <ul>
            <li>Syllabus</li>
          </ul>
        </nav>
        <section class="contents">
          <h1>CS193X</h1>
          Web Programming Fundamentals
        </section>
        <nav>
          <ul>
            <li>Staff</li>
            <li>Etc</li>
          </ul>
        </nav>
      </section>
      <section class="main">
        <nav>
          <ul>
            <li {% if page.active == 'weeks' %} class="active" {% endif %} >Weeks</li>
            <li>Homework</li>
          </ul>
        </nav>
        <section>
          {{ content }}
        </section>
      </section>

    </div>
  </body>
</html>
